*{
    margin:0px;
    padding:0px;
    box-sizing: 0px;;
}
body{
    
    
}
.cabecalho{
    background-color: rgb(219, 190, 212);
    height:100px;
    position: fixed;
    width:1920px;
    z-index: 999;
}
.logo{
    position: absolute;
    width:12%;
    height:17%;
    top:-20px;
    position: fixed;
}
.opcoes{
    display:flex;
    justify-content: right;
    
}
.opcoes img{
    position: absolute;
    width: 1.5%;
    height:3%;
    top:30px;
    left:1800px;
}

.opcao {
    font-size:15px;
    margin: 35px;
    text-decoration: none;
    color: black;
    font-family:'Times New Roman', Times, serif;
}
#logomain{
    position: absolute;
    left:300px;
    width:320px;
    height:250px;
    top:70px;
}
#mensagem_main{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    left:200px;
    top:300px;
    font-size: 50px;
}
#mensagem_main2{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    left:200px;
    top:500px;
    font-size: 20px;
}
#botao_agendamento{
    position: absolute;
    top:600px;
    left:300px;
    background-color: blueviolet;
    width:200px;
    height:70px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50px;;
}
#botao_agendamento a{
    text-decoration: none;
    color: white;
}
#botao_agendamento a:hover{
    text-decoration: none;
    color: rgb(240, 219, 38);
}
#fundo_neutro{
    background-color: pink;
    position: absolute;
    left:1150px;
    width:680px;
    height: 700px;
    top:200px;
}
#cliente_foto img{
    width:650px;
    height: 650px;
    position: absolute;
    left:1100px;
    top:250px;
}
#oo{
    top:1000px;
    position: relative;
    width:1000px;
    height: 1000px;
    background-color: blue;
}
